<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Screens</title>
</head>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<body>
    <div style="margin: 0 auto; text-align: center; background-color: antiquewhite; width: 80%; border: 1px slategray solid">
        <h1>Detect and count Boxes</h1>
        <img src="{% url 'dynamic_stream' num=1 stream_path='0' %}" style="border: 1px slategray solid">
        <br><br><br>
    </div>
</body>
</html>
